// Colors
$black: #121212;
$white: #ffffff;
$white-border: #d4d4d4;
$blue-active: #2395ff;
$blue: #1c8ffa;
$page-title-color: #0f0f0f;
$gray: #383636;
$yellow: #f0d700;
$green: #a8dd12;
$all-black: #000000;
$orange: #ff7a00;
$graywhite: #d6d6d6;
$graywhite2: #aeaeae;
$purpure: #7f52ff;
$pink: #bb34fb;
$disabled: #d6d6d6;
$polic: #696969;
$foot-polic: #797979;
$pink2: #b200f0;
$btn-gray: #686464;

// fonts
$main-family: "Roboto", sans-serif;
// size
$menu-size: 24px;
$page-title-size: 80px;
$big-text-size: 16px;
$heading-size: 36px;
$subheading-size: 28px;
$section-title-size: 54px;
$works-btns-size: 19px;
$works-title-size: 20px;
$exp-text-size: 18px;
$circle-size: 25px;
$turn-size: 15px;
$little-text-size: 14px;
$small-text-size: 11px;
$active-placeholder-size: 10px;
$footer-title-size: 34px;
$footer-little-size: 12px;
// adaptive
$page-mob-size: 24px;
// line
$menu-line: 38px;
$page-title-line: 80px;
$big-text-line: 22px;
$heading-line: 42px;
$subheading-line: 33px;
$section-title-line: 63px;
$works-title-line: 26px;
$more-btn-line: 19px;
$exp-text-line: 26px;
$circle-line: 30px;
$turn-line: 28px;
$little-text-line: 24px;
$small-text-line: 15px;
$active-placeholder-line: 12px;
$footer-title-line: 46px;
$footer-adress-line: 21px;
$foot-polic: 36px;
<<<<<<< HEAD
$page-subtitle-line: 47px;
=======
>>>>>>> 7e916c513ed934a515d9ca45b035b6c198f39cac
// adaptive
$page-mob-line: 28px;
// weight
$extrabold: 900;
$bold: 600;
$medium: 500;
$normal: 400;
$light: 300;

$breakpoints: (
  "phone": 320px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-middle": 900px,
  "tablet-wide": 1000px,
  "desktop": 1199px,
  "desktop-wide": 1440px,
  "desktop-big": 1800px,
  "desktop-huge": 2000px,
  "desktop-max": 2900px,
);

$content-size: 1200px;
$content-max-size: 1400px;
$wrapper-size: 1920px;
// Fonts
