.section.expertise__section
    .container
        .expertise
            .expertise__text
                .section__title OUR EXPERTISE
                .expertise__desc We have been working in the Fintech industry for more than 6 years being part of B2Broker team. We focus on creating websites for PSPs, Crypto, FOREX Brokers and Exchanges. 
                .expertise__desc It is our pleasure to share our experience with you.
                a.black__btn(href="#") Contact us
            
            .expertise__circle__block
                .expertise__circle#expertise__circle1(style="top:38px; right:420px;") Blockchain
                .expertise__circle#expertise__circle2(style="top:0; right:27px;") FOREX
                .expertise__circle#expertise__circle3(style="top:205px; right:170px;") Brokerage
                .expertise__circle#expertise__circle4(style="top:400px; right:500px;") FinTech
                .expertise__circle#expertise__circle5(style="top:450px; right:0;") Exchanges