section.main_screen__section

    .big__container

        .main_screen__wrapper
            a(href="#").main__logo__wrapper
                img.main__logo(src="images/logo.svg", alt="logo")

        .container
            .page__title We are a design agency specialising in websites#[b(class="db")] and interfaces for brokerages and exchanges
        
        .main_screen__wrapper
            a(href="#").learn__more__link
                span Learn more
                <svg width="8" height="21" viewBox="0 0 8 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75387 20.8393C3.94913 21.0346 4.26571 21.0346 4.46098 20.8393L7.64296 17.6574C7.83822 17.4621 7.83822 17.1455 7.64296 16.9503C7.44769 16.755 7.13111 16.755 6.93585 16.9503L4.10742 19.7787L1.27899 16.9503C1.08373 16.755 0.76715 16.755 0.571888 16.9503C0.376626 17.1455 0.376626 17.4621 0.571888 17.6574L3.75387 20.8393ZM3.60742 0.472656L3.60742 20.4858H4.60742L4.60742 0.472656H3.60742Z" fill="#121212"/>
                </svg>
        

        .circle(style="width:99px; height:99px;background: #7F52FF; left: 39px; bottom: -37px;")
        .circle(style="width:38vw; max-width:621px; max-height:621px; height:38vw; background: #E54D57; left: 52px; bottom:18px;")
        .circle(style="width:60px; height:60px; background: #2395FF; right: 100px; top: 25px;")
