section.section.services__section
    .container
        .section__title Main Services

        .services
            .services__title Web Design
            .services__content__wrapper
                .services__content
                    .services__heading
                        span UI development
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text Hundreds of clients are happy to use our interfaces for their  business. There is no need to spend time researching web studios that will create high-quality UI design for your broker or exchange. 
                        a.services__link(href="#") See our plans
        
        .services
            .services__title Branding
            .services__content__wrapper
                .services__content
                    .services__heading
                        span Naming
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text A good name is one of the aspects required to start your business. A catchy and attractive business name will be available for you.
                        a.services__link(href="#") See our plans

                .services__content
                    .services__heading
                        span Logo design
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text A logo is an important element of a brand's corporate identity. A special combination of colors, graphics and word elements make the company outstanding.
                        a.services__link(href="#") See our plans
        
        .services
            .services__title Content
            .services__content__wrapper
                .services__content
                    .services__heading
                        span Copywriting
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text We can write unique articles and fill your site with quality content.
                        a.services__link(href="#") See our plans
        
        .services
            .services__title Development
            .services__content__wrapper
                .services__content
                    .services__heading
                        span Front-End & Back-End
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text Our specialists are equipped with the necessary technologies to work with Front-end: PHP, JavaScript, Python.
                    .services__text Easy and quick integration into your new website of any “Turnkey” product from B2Broker, with widgets and a link at the back-end.
                        a.services__link(href="#") See our plans
