.section.turnkey__section
    .container
        .section__title Turnkey Solutions
        .expertise__desc We have divided our services into 3 plans which are applicable#[b(class="db")] for #[b(class="bold") all types of products]  (FOREX, Crypto brokers, Exchanges, etc).#[b(class="db")] Choose the plan that suits you best.

        .turnkey
            .turnkey__item
                .turnkey__heading
                    .turnkey__title Basic
                    .turnkey__price from #[span(class="turnkey__big__price") $15k]
                
                .turnkey__desc Turnkey website. Unique logo + colours

                ul.turnkey__ul
                    li.turnkey__li Customised logo and colours
                    li.turnkey__li Russian and English languages
                    li.turnkey__li Up to 100 pages 
                
                a.our_works__more.disabled(href="#") Not available now
            
            .turnkey__item.black
                .turnkey__heading
                    .turnkey__title Advanced
                    .turnkey__price from #[span(class="turnkey__big__price") $25k]
                
                .turnkey__desc Turnkey website. Unique logo,#[b(class="db")] colours and content

                ul.turnkey__ul
                    li.turnkey__li Fully customised content
                    li.turnkey__li Assistance with translation into#[b(class="db")]  other languages
                    li.turnkey__li
                        a(href="#").turnkey__link
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.4082 5.60364H12.3643V7.73987H7.4082V13.3551H5.1377V7.73987H0.181641V5.60364H5.1377V0.415649H7.4082V5.60364Z" fill="white"/>
                            </svg>
                            span  “Basic” plan feautures are included
                
                a.blue_btn(href="#") Contact us

            .turnkey__item
                .turnkey__heading
                    .turnkey__title Custom
                    .turnkey__price from #[span(class="turnkey__big__price") $70k]
                
                .turnkey__desc Unique website, logo, colours and content 

                ul.turnkey__ul
                    li.turnkey__li Fully customised solution
                    li.turnkey__li Unique CRM
                    li.turnkey__li
                        a(href="#").turnkey__link
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.4082 5.60364H12.3643V7.73987H7.4082V13.3551H5.1377V7.73987H0.181641V5.60364H5.1377V0.415649H7.4082V5.60364Z" fill="#121212"/>
                            </svg>
                            span  “Advanced” plan feautures are included
                
                a.our_works__more(href="#") Contact us