.section.expertise__section.about__expertise__section
    .container
        .expertise
            .expertise__circle__block
                .expertise__circle
                .expertise__circle
                .expertise__circle 
                .expertise__circle 
                .expertise__circle
                .expertise__circle
                .expertise__circle
                .expertise__circle
                .expertise__circle
            .expertise__text
                .section__title Who we are
                .expertise__desc B2B Creative Web Studio is a team of professionals who provide various services related to web and graphic design. 
                .expertise__desc We focus on creating Brokerage and Exchange terminals Interfaces, Websites for Exchanges, Crypto and FOREX Brokers. 
                a.black__btn(href="#") Contact us