.section.whatwd__section
    .container
        .section__title What we do?
        .whatwd
            .whatwd__item
                img.whatwd__img(src="images/what1.png", alt="img")
                .whatwd__title Websites that people enjoy using
                .whatwd__desc Your website is the face of your company, reflecting your corporate image and personality. To attract clients, you need a functional and attractive website that is easy to navigate, mobile-friendly, safe and secure. We can create for you a clean and professional website that will appeal to your visitors and help convert them into clients.
            
            .whatwd__item
                .whatwd__title Meaningful Digital Products 
                .whatwd__desc We have the know-how and experience to develop a range of digital marketing implements geared up towards helping you build your business. We can put in place a whole range of meaningful digital products that will help elevate your business.
                img.whatwd__img(src="images/what2.png", alt="img", style="background: radial-gradient(71.46% 70% at 69.98% 62.89%, #F0D700 6.43%, #A8DD12 100%), #FFFFFF;")
            
            .whatwd__item
                img.whatwd__img(src="images/what3.png", alt="img", style="background: radial-gradient(91.3% 88.39% at 45% 53.06%, #2395FF 6.43%, #7F52FF 52.01%), #FFFFFF;")
                .whatwd__title Digital products that tell#[b(class="db")] your story
                .whatwd__desc The success of your business depends on how you tell your story so you need to effectively convey your message to potential clients. We can help develop for you digital products and content that will help push your business#[b(class="db")] into the spotlight.
            
            .whatwd__item
                .whatwd__title Branding that will be remembered
                .whatwd__desc In the competitive business world, brand recall is key. We have the expertise to develop a corporate branding that will make you stand out from the crowd. We will oversee your branding in order to create a true identity for your business that will be remembered. 
                img.whatwd__img(src="images/what4.png", alt="img")