div(class="modal-fancy modal" id="modal1" style="display:none")
    .modal__container
        .modal__title Please complete the form and submit your request. We will contact you shortly!
        .modal__artist
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5085 10.2642C13.271 10.2642 15.5085 8.02666 15.5085 5.26416C15.5085 2.50166 13.271 0.26416 10.5085 0.26416C7.74605 0.26416 5.50854 2.50166 5.50854 5.26416C5.50854 8.02666 7.74605 10.2642 10.5085 10.2642ZM10.5085 12.7642C7.17104 12.7642 0.508545 14.4392 0.508545 17.7642V19.0142C0.508545 19.7017 1.07104 20.2642 1.75854 20.2642H19.2585C19.946 20.2642 20.5085 19.7017 20.5085 19.0142V17.7642C20.5085 14.4392 13.846 12.7642 10.5085 12.7642Z" fill="black"/>
            </svg>
            span Web Designer (Middle)

        .turnkey_form
            form.turnkey_form__content
                label.turnkey_form__label
                    span.turnkey_form__placeholder Your name *
                    input.turnkey_form__input(type="text" name="name" required)
                
                label.turnkey_form__label
                    span.turnkey_form__placeholder Email *
                    input.turnkey_form__input(type="email" required)
                
                label.turnkey_form__label.turnkey_form__label__modal_phone(for="phone_modal_input")
                    img.turnkey_form__icon(src="images/eng.png", alt="language")
                    select.turnkey_form__select
                        option(value="7") +7
                        option(value="8") 8
                        option(value="9") 9
                    span.turnkey_form__placeholder Phone *
                    input.turnkey_form__input#phone_modal_input(type="text", name="phone", required)
                
                label.turnkey_form__label
                    span.turnkey_form__placeholder Message
                    input.turnkey_form__input(type="text")
                
                span.turnkey_form__placeholder.turnkey_form__placeholder__resume Resume *

                .turnkey_form__file
                    label.turnkey_form__file__btn_wrapper.turnkey_form__file__btn_wrapper1.active(for="file5_input")
                        input.file1_input(type="file", name="file", id="file5_input", accept=".doc, .pdf", required)

                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2295" cy="10.4229" r="10" />
                            <path d="M13.2559 8.1853L11.4234 13.7969C11.0713 14.8753 9.91257 15.4635 8.83418 15.1113C7.75578 14.7592 7.16756 13.6005 7.51971 12.5221L9.51155 6.42256C9.73145 5.74917 10.4564 5.38112 11.1298 5.60102C11.8032 5.82092 12.1713 6.54591 11.9514 7.2193L10.2782 12.3429C10.1906 12.6113 9.89929 12.7592 9.63091 12.6715C9.36253 12.5839 9.21465 12.2926 9.30229 12.0242L10.8161 7.38857L10.0841 7.14954L8.57035 11.7852C8.35045 12.4586 8.7185 13.1836 9.39189 13.4035C10.0653 13.6234 10.7903 13.2553 11.0102 12.5819L12.6833 7.45832C13.0355 6.37992 12.4472 5.22123 11.3688 4.86908C10.2904 4.51692 9.13176 5.10514 8.7796 6.18354L6.78777 12.2831C6.30335 13.7665 7.11175 15.3589 8.59516 15.8433C10.0786 16.3277 11.6709 15.5193 12.1554 14.0359L13.9878 8.42432L13.2559 8.1853Z" fill="#F4F4F4"/>
                        </svg>

                        p Attach your resume up to 5 Mb (Doc or PDF up to 2 files)
                    
                    label.turnkey_form__file__btn_wrapper.turnkey_form__file__btn_wrapper2(for="file6_input")
                        input.file2_input(type="file", name="file", id="file6_input", accept=".doc, .pdf", required)

                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10.2295" cy="10.4229" r="10" />
                            <path d="M13.2559 8.1853L11.4234 13.7969C11.0713 14.8753 9.91257 15.4635 8.83418 15.1113C7.75578 14.7592 7.16756 13.6005 7.51971 12.5221L9.51155 6.42256C9.73145 5.74917 10.4564 5.38112 11.1298 5.60102C11.8032 5.82092 12.1713 6.54591 11.9514 7.2193L10.2782 12.3429C10.1906 12.6113 9.89929 12.7592 9.63091 12.6715C9.36253 12.5839 9.21465 12.2926 9.30229 12.0242L10.8161 7.38857L10.0841 7.14954L8.57035 11.7852C8.35045 12.4586 8.7185 13.1836 9.39189 13.4035C10.0653 13.6234 10.7903 13.2553 11.0102 12.5819L12.6833 7.45832C13.0355 6.37992 12.4472 5.22123 11.3688 4.86908C10.2904 4.51692 9.13176 5.10514 8.7796 6.18354L6.78777 12.2831C6.30335 13.7665 7.11175 15.3589 8.59516 15.8433C10.0786 16.3277 11.6709 15.5193 12.1554 14.0359L13.9878 8.42432L13.2559 8.1853Z" fill="#F4F4F4"/>
                        </svg>

                        p Attach your resume up to 5 Mb (Doc or PDF up to 2 files)
                    
                    .turnkey_form__file__content.turnkey_form__file__content1
                        .turnkey_form__file__content_btns
                            <svg class="turnkey_form__file__content_btn__add" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="6.47845" cy="6.26416" r="5.5" stroke="#01BF96"/>
                                <path d="M9.45488 3.9436L5.77602 7.73214L3.50147 5.38979" stroke="#01BF96" stroke-width="1.27238"/>
                            </svg>

                            <svg class="turnkey_form__file__content_btn__remove" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="6.47845" cy="6.26416" r="5.5" stroke="#121212"/>
                                <path d="M4.47845 4.26416L8.47799 8.26369" stroke="#121212"/>
                                <path d="M8.47807 4.26416L4.47853 8.26369" stroke="#121212"/>
                            </svg>
                        
                        <svg class="turnkey_form__file__content__icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.89512 3.98291V0.26416H1.16595C0.784965 0.26416 0.478455 0.556738 0.478455 0.92041V13.6079C0.478455 13.9716 0.784965 14.2642 1.16595 14.2642H10.791C11.1719 14.2642 11.4785 13.9716 11.4785 13.6079V4.63916H7.58262C7.2045 4.63916 6.89512 4.34385 6.89512 3.98291ZM11.4785 3.59736V3.76416H7.81179V0.26416H7.98653C8.16986 0.26416 8.3446 0.33252 8.47351 0.455566L11.2779 3.13525C11.4068 3.2583 11.4785 3.4251 11.4785 3.59736Z" fill="#121212"/>
                        </svg>

                        span.turnkey_form__file__content__title File for attachment.pdf
                    
                    .turnkey_form__file__content.turnkey_form__file__content2
                        .turnkey_form__file__content_btns
                            <svg class="turnkey_form__file__content_btn__add" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="6.47845" cy="6.26416" r="5.5" stroke="#01BF96"/>
                                <path d="M9.45488 3.9436L5.77602 7.73214L3.50147 5.38979" stroke="#01BF96" stroke-width="1.27238"/>
                            </svg>

                            <svg class="turnkey_form__file__content_btn__remove" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="6.47845" cy="6.26416" r="5.5" stroke="#121212"/>
                                <path d="M4.47845 4.26416L8.47799 8.26369" stroke="#121212"/>
                                <path d="M8.47807 4.26416L4.47853 8.26369" stroke="#121212"/>
                            </svg>
                        
                        <svg class="turnkey_form__file__content__icon" width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.89512 3.98291V0.26416H1.16595C0.784965 0.26416 0.478455 0.556738 0.478455 0.92041V13.6079C0.478455 13.9716 0.784965 14.2642 1.16595 14.2642H10.791C11.1719 14.2642 11.4785 13.9716 11.4785 13.6079V4.63916H7.58262C7.2045 4.63916 6.89512 4.34385 6.89512 3.98291ZM11.4785 3.59736V3.76416H7.81179V0.26416H7.98653C8.16986 0.26416 8.3446 0.33252 8.47351 0.455566L11.2779 3.13525C11.4068 3.2583 11.4785 3.4251 11.4785 3.59736Z" fill="#121212"/>
                        </svg>

                        span.turnkey_form__file__content__title File for attachment.pdf

                label.turnkey_form__label.turnkey_form__pic__wrapper
                    img.turnkey_form__pic(src="images/pic.png", alt="img")
                    span.turnkey_form__placeholder Enter symbols
                    input.turnkey_form__input(type="text" required)

                .turnkey_form__btn__wrapper
                    button.black__btn(type="submit") Send
                    .turnkey_form__polic B2BCWS uses the information you provide to us to contact you #[b(class="db")] about our relevant content, products and services. For more #[b(class="db")] information check out our #[a(href="#") Privacy Policy].