.section.b2broker__section
    .container
        .b2broker
            .b2broker__content
                .b2broker__title B2Broker
                a.b2broker__link(href="#")
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.90723 5.39795H4.90723C4.5094 5.39795 4.12787 5.55598 3.84657 5.83729C3.56526 6.11859 3.40723 6.50012 3.40723 6.89795V14.3979C3.40723 14.7958 3.56526 15.1773 3.84657 15.4586C4.12787 15.7399 4.5094 15.8979 4.90723 15.8979H12.4072C12.8051 15.8979 13.1866 15.7399 13.4679 15.4586C13.7492 15.1773 13.9072 14.7958 13.9072 14.3979V11.3979M10.9072 3.89795H15.4072M15.4072 3.89795V8.39795M15.4072 3.89795L7.90723 11.3979"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    span www.b2broker.com

                .b2broker__desc Website and logo for global prime of prime multi-asset#[b(class="db")] liquidity & technology white label solutions provider#[b(class="db")] for Brokerages and Exchanges.
                ul.our_works__btns
                    li.our_works__btn
                        a.pink(href="#") blockchain
                    li.our_works__btn
                        a.yellow(href="#") brokerage
                    li.our_works__btn
                        a.green(href="#") fintech
            
            img.b2broker__image(src="images/b2broker_item1.png", alt="")

        video.b2broker__video(src="images/B2Broker.mov" controls)

        .b2broker
            img.b2broker__image(src="images/b2broker_item2.png", alt="")
            .b2broker__content
                .b2broker__desc B2Broker is a multinational project that works in several countries (including EU, Asian region, India, Arabic and African countries). #[b(class="db")]We were asked to keep the multinational spirit in our design and take into account a variety of languages for the website.
                a(href="#").our_works__more Contact us


.section.b2broker__section.black__section
    .black__section__trigger
    .container
        .b2broker
            .b2broker__content
                .b2broker__title B2BX
                a.b2broker__link(href="#")
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.90723 5.39795H4.90723C4.5094 5.39795 4.12787 5.55598 3.84657 5.83729C3.56526 6.11859 3.40723 6.50012 3.40723 6.89795V14.3979C3.40723 14.7958 3.56526 15.1773 3.84657 15.4586C4.12787 15.7399 4.5094 15.8979 4.90723 15.8979H12.4072C12.8051 15.8979 13.1866 15.7399 13.4679 15.4586C13.7492 15.1773 13.9072 14.7958 13.9072 14.3979V11.3979M10.9072 3.89795H15.4072M15.4072 3.89795V8.39795M15.4072 3.89795L7.90723 11.3979"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    span B2Bx.exchange.com

                .b2broker__desc Website for a digital asset exchange platform.
                ul.our_works__btns
                    li.our_works__btn
                        a.blue(href="#") exchange
                    li.our_works__btn
                        a.green(href="#") fintech
            
            img.b2broker__image(src="images/b2broker_item3.png", alt="")

        video.b2broker__video(src="images/B2BX.mov" controls)

        .b2broker
            img.b2broker__image(src="images/b2broker_item4.png", alt="")
            .b2broker__content
                .b2broker__desc B2BX offers both corporate clients and individuals a#[b(class="db")] selection of deposit and withdrawal methods that are safe#[b(class="db")] and secure including Bank Transfer (SWIFT, SEPA), UPay,#[b(class="db")] Card Epay & Mistertango.
                a(href="#").our_works__more Contact us

.section.b2broker__section
    .container
        .b2broker
            .b2broker__content
                .b2broker__title B2BinPay
                a.b2broker__link(href="#")
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.90723 5.39795H4.90723C4.5094 5.39795 4.12787 5.55598 3.84657 5.83729C3.56526 6.11859 3.40723 6.50012 3.40723 6.89795V14.3979C3.40723 14.7958 3.56526 15.1773 3.84657 15.4586C4.12787 15.7399 4.5094 15.8979 4.90723 15.8979H12.4072C12.8051 15.8979 13.1866 15.7399 13.4679 15.4586C13.7492 15.1773 13.9072 14.7958 13.9072 14.3979V11.3979M10.9072 3.89795H15.4072M15.4072 3.89795V8.39795M15.4072 3.89795L7.90723 11.3979"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    span B2BinPay.com

                .b2broker__desc Website and content for global provider of crypto payment solutions
                ul.our_works__btns
                    li.our_works__btn
                        a.blue(href="#") exchange
                    li.our_works__btn
                        a.green(href="#") fintech
            
            img.b2broker__image(src="images/b2broker_item5.png", alt="")

        video.b2broker__video(src="images/B2BinPay_1.mov" controls)

        .b2broker
            img.b2broker__image(src="images/b2broker_item6.png", alt="")
            .b2broker__content
                .b2broker__desc B2BinPay B2BinPay is a global Cryptocurrency Payment Provider for Merchants and Enterprise Clients. It allows businesses to Send, Receive, Store, Exchange and Accept CryptoCurrency Payments online, safely, securely and cost-effectively across the world in a matter of minutes.
                a(href="#").our_works__more Contact us

.section.b2broker__section.black__section.b2broker__section2
    .black__section__trigger
    .container
        .b2broker
            .b2broker__content
                .b2broker__title Сoinsbuy
                a.b2broker__link(href="#")
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.90723 5.39795H4.90723C4.5094 5.39795 4.12787 5.55598 3.84657 5.83729C3.56526 6.11859 3.40723 6.50012 3.40723 6.89795V14.3979C3.40723 14.7958 3.56526 15.1773 3.84657 15.4586C4.12787 15.7399 4.5094 15.8979 4.90723 15.8979H12.4072C12.8051 15.8979 13.1866 15.7399 13.4679 15.4586C13.7492 15.1773 13.9072 14.7958 13.9072 14.3979V11.3979M10.9072 3.89795H15.4072M15.4072 3.89795V8.39795M15.4072 3.89795L7.90723 11.3979"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    span coinsbuy.com

                .b2broker__desc Landing page, logo and content for cryprtocurrency exchange service.
                ul.our_works__btns
                    li.our_works__btn
                        a.blue(href="#") exchange
                    li.our_works__btn
                        a.green(href="#") fintech
            
            img.b2broker__image(src="images/b2broker_item7.png", alt="")

        video.b2broker__video(src="images/Coinsbuy.mov" controls)

        .b2broker
            img.b2broker__image(src="images/b2broker_item8.png", alt="")
            .b2broker__content
                .b2broker__desc Coinsbuy is one of the leading places to buy, hold, sell and exchange popular cryptocurrencies online. Users can keep#[b(class="db")] track of everything in the one place. Coinsbuy provides the#[b(class="db")] fastest access to the world of cryptocurrencies enabling#[b(class="db")] customers to buy, sell and exchange their favourite crypto#[b(class="db")] whenever needed.
                a(href="#").our_works__more Contact us