section.main_screen__section.black__section.contacts__main_screen__section

    .big__container

        .main_screen__wrapper
            a(href="#").main__logo__wrapper
                img.main__logo(src="images/black_bg_logo.svg", alt="logo")

        .container
            .footer__top
                .page__title Сontacts
                .footer__top__content
                    .footer__top__block
                        .footer__city Moscow
                        .footer__adress "Moscow City" district,
                        .footer__adress Presnenskaya Embankment 12,
                        .footer__adress Federation Tower East.

                    .footer__top__block
                        a(href="mailto:info@b2bcws.com").footer__mail info@b2bcws.com
                        a(href="tel:+7 876 543 21(?)").footer__phone +7 876 543 21(?)
        

        .circle(style="width:99px; height:99px;background: #7F52FF; right: 37%; top: 10%;")
        .circle(style="width:268px; height:268px;   background: #E54D57; left: 52px; bottom:143px;")
        .circle(style="width:198px; height:198px; background: #A8DD12; right: 170px; bottom: 0;")
