extends template/main

block variables
	- var title = 'Contacts'
	- var pageClass = 'CONTACTS'

block content
	include modules/contacts/main_screen
	include modules/contacts/form
	include modules/footer/small_footer