extends template/main

block variables
	- var title = 'Main Page'
	- var pageClass = ''

block content
	include modules/main_page/main_screen
	include modules/main_page/services
	include modules/main_page/our_works