extends template/main

block variables
	- var title = 'Our Works'
	- var pageClass = ''

block content
	include modules/works/main_screen
	include modules/works/b2broker
	include modules/main_page/form