section.main_screen__section.black__section.careers__main_screen__section

    .big__container

        .main_screen__wrapper
            a(href="#").main__logo__wrapper
                img.main__logo(src="images/black_bg_logo.svg", alt="logo")

        .container
            .page__title Сontacts
            .page__subtitle We are always on the lookout for talents.#[b(class="db")]  See our vacancies below and join our team.
        

        .circle(style="width:156px; height:156px;background: #07D6A5; right: 37%; top: 10%;")
        .circle(style="width:99px; height:99px;   background: #FF7A00; left:150px; bottom:-99px")
        .circle(style="width:239px; height:239px; background: #BB34FB; right: 170px; bottom: 0;")
