section.section.services__section.careers__services__section
    .container
        .section__title Main Services

        .services
            .services__title Web Design
            .services__content__wrapper
                .services__content
                    .services__heading
                        span Web Designer (Middle)
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text
                        .careers__title Duties
                        .careers__ul
                            .careers__item Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                            .careers__item Co-operation with Legal and Financial departments
                            .careers__item Negotiations about the project, payment and contract conditions tracking.
                            .careers__item Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                            .careers__item Weekly reports of client/project status to CEO/COO
                            .careers__item IT Product Support
                            .careers__item Upsales are possible
                        
                        .careers__title Conditions
                        .careers__ul
                            .careers__item Salary starts from 60.000 rub on trial period and grows to stable 70 000 rub and higher after a trial period.
                            .careers__item Opportunity to earn additional money as commission for upsales!
                            .careers__item 2 weeks of paid training is provided to new employees before starting daily job.
                            .careers__item Possibility of working with an innovative, intellectual product with no analogues on the market.
                            .careers__item Possibility of being a key member of the team and to influence on the further development of the company.
                            .careers__item A young, progressive and friendly team.
                            .careers__item Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                        
                        .careers__location
                            .careers__title Location #[span(class="careers__item")  Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                            .careers__title Work experience #[span(class="careers__item")  1–3 years]
                            .careers__title Full-time work 5/2
                            .careers__item Publication: June 12, 2020
                        
                        .black__btn.modal1__btn--js Apply now
                
                .services__content
                    .services__heading
                        span Web Designer (Seniour)
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text
                        .careers__title Duties
                        .careers__ul
                            .careers__item Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                            .careers__item Co-operation with Legal and Financial departments
                            .careers__item Negotiations about the project, payment and contract conditions tracking.
                            .careers__item Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                            .careers__item Weekly reports of client/project status to CEO/COO
                            .careers__item IT Product Support
                            .careers__item Upsales are possible
                        
                        .careers__title Conditions
                        .careers__ul
                            .careers__item Salary starts from 60.000 rub on trial period and grows to stable 70 000 rub and higher after a trial period.
                            .careers__item Opportunity to earn additional money as commission for upsales!
                            .careers__item 2 weeks of paid training is provided to new employees before starting daily job.
                            .careers__item Possibility of working with an innovative, intellectual product with no analogues on the market.
                            .careers__item Possibility of being a key member of the team and to influence on the further development of the company.
                            .careers__item A young, progressive and friendly team.
                            .careers__item Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                        
                        .careers__location
                            .careers__title Location #[span(class="careers__item")  Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                            .careers__title Work experience #[span(class="careers__item")  1–3 years]
                            .careers__title Full-time work 5/2
                            .careers__item Publication: June 12, 2020
                        
                        .black__btn.modal2__btn--js Apply now
        
        .services
            .services__title Content
            .services__content__wrapper
                .services__content
                    .services__heading
                        span Copywriter (Senior)
                        <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.59516 6.14377L1.05275 1.50022C0.763647 1.20484 0.763647 0.72592 1.05275 0.430678C1.34159 0.135411 1.81007 0.135411 2.09889 0.430678L6.11823 4.5395L10.1374 0.430798C10.4264 0.135531 10.8948 0.135531 11.1837 0.430798C11.4726 0.726064 11.4726 1.20496 11.1837 1.50034L6.64119 6.14389C6.4967 6.29153 6.30752 6.36526 6.11826 6.36526C5.9289 6.36526 5.73958 6.29138 5.59516 6.14377Z" fill="#121212"/>
                        </svg>
                    .services__text A good name is one of the aspects required to start your business. A catchy and attractive business name will be available for you.
                        a.services__link(href="#") See our plans