header.header
    .big__container
        .header__burger
            .header__burger__item
            .header__burger__item
            
        ul.header__menu
            li.header__menu__item
                a.header__menu__link(href="#") SERVICES
            li.header__menu__item
                a.header__menu__link(href="#") PORTFOLIO
            li.header__menu__item
                a.header__menu__link(href="#") CONTACTS
            li.header__menu__item
                a.header__menu__link(href="#") About us
            li.header__menu__item
                a.header__menu__link(href="#") CAREERS