.section.policy__section
    .big__container
        .main__logo__wrapper
            img.main__logo(src="images/logo.svg" alt="logo")

    .page__title Cookie policy
    .policy
        .policy__item
            .policy__title General
            .policy__desc This Cookie policy governs use of cookies on the website www.b2bcws.com (hereinafter – the “Website”). By visiting our Website, and any subdomains of this Website, you are accepting and consenting to the practices described in this Cookie policy.
        
        .policy__item
            .policy__title What are cookies?
            .policy__desc Cookies are small data files that are downloaded to a user's computer, phone or tablet when you visit a website. Most web browsers automatically accept cookies. They help website operators to, for example, recognize a user that has visited a website previously and to analyze behavior in order to improve the user experience. Further details on the cookies used on our Website and their purposes are set out below.
        
        .policy__item
            .policy__title What cookies will be used and for what purpose?
            .policy__subtitle Performance cookies
            .policy__desc In order to improve user experience on our Website, evaluate the performance of our content and fix technical issues or errors on pages or web forms we use performance and analytics tools, including from third parties, such as Google Analytics. These cookies collect information such as the number of user visits or returning visitors to a website. These cookies cannot however be used to identify a user and are used to generate aggregate data.
            .policy__subtitle Targeting or Marketing cookies
            .policy__desc As part of our marketing initiatives these cookies collect information about your browsing habits (e.g. which source a particular visit is coming from) and inferred interests in order to make advertising more relevant to you. They are also used to limit the number of times you see an advert, as well as to measure the effectiveness and performance of an advertising campaign. Some of these cookies are placed by our third-party advertising networks. They remember the other websites that you visit and this information is shared with third-party organizations, for example advertisers.
            .policy__subtitle Functionality cookies
            .policy__desc These cookies enable our Website to remember choices you make and your personal preferences such as log in details in order to improve the user experience, for example by avoiding you having to re-enter these details on each visit to our Website.
        
        .policy__item
            .policy__title How long will the cookies remain?
            .policy__desc The single session cookie is a temporary cookie which remains in the cookie file of your browser until you close the browser. The other cookies will remain in the cookie file of your browser after the closing of the browser, and will become active again when you reopen the Website. These cookies have different expiration dates. Following expiry of a cookie, a new version of that cookie will be downloaded when you next visit the Website, unless you have withdrawn your consent in the meantime.
        
        .policy__item
            .policy__title Third party cookies
            .policy__desc Some cookies are provided on our behalf by trusted third party service providers to aid with user experience, reporting of user behavior, market research, providing advertisements according to user's interests and improving the Website functionality for example. This user behavior is analyzed in order to provide an improved user experience.
        
        .policy__item
            .policy__title How do I turn cookies off?
            .policy__desc You do not have to accept cookies, but if you opt to turn off or delete cookies generated via our Website, it may not perform as it has been designed to, possibly reducing the functionality on our Website, the options available to you, as well as the performance of our Website during your visit. All modern browsers allow you to change your cookie settings. These settings will typically be found in the 'options' or 'preferences' menu of your browser.
        
        .policy__item
            .policy__title Useful links
            .policy__desc If you would like to find out more information about the usage of cookies on the Internet, please see the following links: www.allaboutcookies.org or www.youronlinechoices.eu which gives information about privacy issues around internet advertising.
        
        .policy__item
            .policy__title Updates to this cookie policy
            .policy__desc This Cookie policy may be revised, modified, updated and/or supplemented at any time, without prior notice, at our sole discretion. When we make changes to this Cookie policy, we will notify all users on our Website, and make the amended Cookie policy available on our Website.

        .policy__item
            .policy__title Contact
            .policy__desc If you have any questions regarding our Cookie policy, please contact us at #[a(href="#", class="policy__link") info@b2bcws.com]