.turnkey_form {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .turnkey_form__placeholder__resume {
    margin-top: 40px;
    position: relative;
    display: block;

    & + .turnkey_form__file {
      margin-top: 5px;
    }
  }

  @include respond-to("tablet-wide") {
    display: block;
  }

  &__section {
    .section__title {
      margin-bottom: 60px;
    }

    &.black__section {
      padding: 0;
      .container {
        padding: 150px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);

        @include respond-to("tablet") {
          padding: 50px 0;
        }
      }

      .section__title,
      .turnkey_form__placeholder,
      .turnkey_form__file__btn_wrapper p,
      .turnkey_form__btn__desc {
        color: $white;
      }

      .black__btn:not(:hover) {
        background: $white;
        color: $black;
      }

      .turnkey_form__input {
        background: transparent;
      }

      .turnkey_form__file__btn_wrapper svg {
        circle {
          fill: $white;
        }

        path {
          fill: $black;
        }
      }

      .turnkey_form__file__content__icon {
        path {
          fill: $white;
        }
      }

      .turnkey_form__file__content_btn__remove {
        path,
        circle {
          stroke: $white;
        }
      }

      .turnkey_form__file__btn_wrapper:hover svg circle {
        fill: $blue-active;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 647px;

    @include respond-to("tablet-wide") {
      max-width: none;
    }
  }

  &__label {
    position: relative;
    display: block;
    width: 100%;

    & + .turnkey_form__label {
      margin-top: 50px;

      @include respond-to("tablet") {
        margin-top: 20px;
      }
    }

    &.active {
      .turnkey_form__placeholder {
        top: -10px;
        font-weight: $light;
        font-size: $active-placeholder-size;
        line-height: $active-placeholder-line;
        color: $blue-active;
      }
    }

    &.turnkey_form__label__modal_phone {
      height: 30px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid $white-border;
      padding-bottom: 8px;

      .turnkey_form__icon {
        width: 30px;
        flex-shrink: 0;
        margin-right: 3px;
      }

      .turnkey_form__input {
        border: none;
        padding-bottom: 0;
      }

      .turnkey_form__placeholder {
        left: 70px;
        top: 0;
      }

      &.active {
        .turnkey_form__placeholder {
          left: 0;
          top: -12px;
        }
      }
    }
  }
  &__select {
    font-weight: $normal;
    font-size: $little-text-size;
    line-height: $big-text-size;
    letter-spacing: 2.2px;
    color: $black;
    border: none;
    background: center right / auto url(../images/arow.svg) no-repeat;
    appearance: none;
    padding-right: 7px;
    text-align-last: center;
    margin-right: 8px;
  }

  &__input {
    box-sizing: border-box;
    height: 30px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $white-border;
    font-weight: $normal;
    font-size: $big-text-size;
    line-height: $more-btn-line;
    /* identical to box height */
    color: $black;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
  }

  &__placeholder {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: $light;
    font-size: $big-text-size;
    line-height: $more-btn-line;
    /* identical to box height */
    color: $black;
    transition: all 0.3s;
  }

  &__pic {
    width: 131px;
    margin-right: 11px;

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      @include respond-to("phablet") {
        display: block;
      }

      .turnkey_form__placeholder {
        left: 142px;
      }
    }
  }

  &__btn__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 47px;

    @include respond-to("tablet") {
      display: block;
    }

    .black__btn {
      width: 100%;
      max-width: 340px;
      margin-right: 35px;

      @include respond-to("tablet") {
        margin: 20px auto;
      }
    }
  }

  &__btn__desc {
    font-weight: $normal;
    font-size: $little-text-size;
    line-height: $little-text-line;
    /* or 171% */
    color: $black;
  }

  &__polic {
    margin-top: 21px;
    font-weight: $light;
    font-size: $small-text-size;
    line-height: $small-text-line;
    /* or 136% */
    color: $polic;

    a {
      font-weight: $light;
      font-size: $small-text-size;
      line-height: $small-text-line;
      /* or 136% */
      color: $polic;
    }
  }

  &__file {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 0 46px;

    @include respond-to("desktop") {
      display: block;
    }

    &__btn_wrapper {
      display: none;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 30px;
      cursor: pointer;

      &.disabled {
        pointer-events: none;

        svg {
          circle {
            fill: $white-border;
          }
        }

        p {
          color: $white-border;
        }
      }

      &.active {
        display: flex;
      }

      input {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        display: none;
      }

      svg,
      p {
        display: block;
      }

      p {
        font-weight: $normal;
        font-size: $small-text-size;
        line-height: $small-text-line;
        /* or 136% */
        color: $black;
        margin-left: 8px;
      }

      svg {
        circle {
          transition: all 0.5s;
          fill: $black;
        }
      }

      &:hover {
        svg {
          circle {
            fill: $blue-active;
          }
        }
      }
    }
  }

  &__file__content {
    display: none;
    justify-content: flex-start;
    align-items: center;

    @include respond-to("desktop") {
      margin-top: 20px;
    }

    &.active {
      display: flex;
    }

    & + .turnkey_form__file__content {
      margin-left: 30px;

      @include respond-to("desktop") {
        margin-left: 0;
      }
    }

    &_btns {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      position: relative;
      cursor: pointer;

      .turnkey_form__file__content_btn__add,
      .turnkey_form__file__content_btn__remove {
        position: absolute;
        transition: all 0.5s;
      }

      .turnkey_form__file__content_btn__remove {
        opacity: 0;
        z-index: -1;
      }
    }

    .turnkey_form__file__content__icon {
      display: block;
      margin: 0px 5px 0px 8px;
    }

    &__title {
      font-weight: $normal;
      font-size: $small-text-size;
      line-height: $small-text-line;
      color: $white-border;
    }

    &:hover {
      .turnkey_form__file__content_btn__add {
        opacity: 0;
        z-index: -1;
      }

      .turnkey_form__file__content_btn__remove {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &__bg {
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
      max-width: 377px;
      margin-left: auto;
    }

    @include respond-to("tablet-wide") {
      margin-top: 20px;

      img {
        margin: 0 auto;
      }
    }
  }
}
