.our_works {
  width: calc(50% - 90px / 2);
  overflow: hidden;
  margin-bottom: 90px;

  @include respond-to("tablet") {
    width: 100%;
    margin-bottom: 30px;
  }

  &:nth-child(2n) {
    margin-top: 293px;

    @include respond-to("tablet") {
      margin-top: 0;
    }
  }

  &__section {
    .section__title {
      margin-bottom: 80px;

      @include respond-to("tablet") {
        margin-bottom: 30px;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: -90px;

    @include respond-to("tablet") {
      display: block;
      margin-bottom: 0;
    }
  }

  &__big_image {
    width: 100%;
    height: 555px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;

    @include respond-to("tablet") {
      height: 200px;
    }

    img {
      position: absolute;
      display: block;
      z-index: 1;
      transition: all 0.5s;
      width: 100%;

      @include respond-to("tablet") {
        width: auto !important;
        height: 100%;
        margin: 0 auto;
      }
    }

    &__bg {
      z-index: 0;
      transition: all 0.5s;
      width: calc(100% - 140px);
      height: calc(100% - 140px);
      max-width: calc(100% - 140px);
      max-height: calc(100% - 140px);
      border-radius: 5px;

      @include respond-to("tablet") {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      .our_works__big_image__bg {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
    }
  }

  &:nth-child(3n + 1) {
    .our_works__big_image {
      &__bg {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }

      img {
        max-width: 100%;
      }

      &:hover {
        .our_works__big_image__bg {
          max-width: calc(100% - 140px);
          max-height: calc(100% - 140px);

          @include respond-to("tablet") {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }

  &__btn {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-weight: $light;
      font-size: $works-btns-size;
      line-height: $big-text-line;
      color: $all-black;
      padding: 9px 18px;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 20px;

      &.yellow {
        border: 2px solid $yellow;
      }

      &.blue {
        border: 2px solid $blue-active;
      }

      &.green {
        border: 2px solid $green;
      }

      &.orange {
        border: 2px solid $orange;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  &__title {
    font-weight: $normal;
    font-size: $works-title-size;
    line-height: $works-title-line;
    color: $black;
    margin: 15px 0 21px;
  }

  &__desc {
    font-weight: $light;
    font-size: $big-text-size;
    line-height: $big-text-line;
    color: $black;
  }

  &__more {
    font-weight: $medium;
    font-size: $big-text-size;
    line-height: $more-btn-line;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 280px;
    height: 60px;
    border: 1px solid $graywhite;
    text-decoration: none;
    margin: 90px auto 0;

    &:hover {
      border: 1px solid $black;
    }
  }
}
